div:hover {
  border: solid black
}

div#primária {
  color: coral;
}

div#secundária {
  color: violet;
}

div#complementar {
  color: pink;
  font-size: 2em;
}

div#escura {
  color: darkorchid;
}

div#clara {
  color: rosybrown;
}

h3#pri {
  font-family: Verdana, sans-serif;
  font-style: italic;
}

h3#sec {
  font-family: 'Gill Sans', sans-serif;
  font-style: oblique;
}

h3#com {
  font-family: Arial, serif;
  font-style: italic;
}

h3#esc {
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
}

h3#cla {
  font-family: 'Lucida Sans', sans-serif;
  font-style: italic;
}