ol li {
    background-color: yellow;
}

ol li.par {
    color: green;
}

ol li.impar {
    text-transform: uppercase;
    font-weight: 600;
}

h1, h3 {
    color: red;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

.três-primeiras {
    color: blue;
}

.java {
    background-color: pink;
}

ul li:hover {
    font-weight: 600;
}

ul li#stack:hover {
    color: orange;
}

ul li#schools:hover {
    color: green;
}

ul li#mdn:hover {
    color: black;
}

ul li#devdocs:hover {
    color: yellow;
}

ul li#trybe:hover{
    color: green;
}

a:hover {
    color: inherit;
}

a {
    text-decoration: none;
}